VITE_GEOAPIFY_API_KEY=ae5629e8ae944783a46568c044f55a6e
VITE_API_URL=http://localhost:5000

VITE_API_URL1=https://fortunefloors.com


VAPID_PUBLIC_KEY=BJokPZbPCnKoBf00lTNtlOZYOoBpOPteBbM3aks_6qHmq4VXMSnlGw_Y4ast_okC5d07va4NknwfZKpA6ttB8yk
VITE_VAPID_PUBLIC_KEY=BJokPZbPCnKoBf00lTNtlOZYOoBpOPteBbM3aks_6qHmq4VXMSnlGw_Y4ast_okC5d07va4NknwfZKpA6ttB8yk
    

VITE_OTP_ENABLED=false