.single-blog-wrapper{
  padding-top: 100px;
  padding-bottom: 80px;
  width: 100%;
}

.single-blog-container{
  margin-left: auto;
  margin-right: auto;
}

.single-blog-container{
  max-width: 900px;
  width: 100%;
  padding: 20px;
}

/* title */
.single-blog-title{
  font-size: 36px;
  margin-bottom: 20px;
  color:#111;
}

/* image */
.single-blog-img{
  width:100%;
  border-radius: 12px;
  margin-bottom: 25px;
  object-fit: cover;
}

/* text */
.single-blog-text{
  font-size: 18px;
  color:#424242;
  line-height: 1.7;
}


/* ======================
   TABLET
====================== */
@media(max-width:900px){
  .single-blog-title{
    font-size: 30px;
  }
}

/* ======================
   MOBILE
====================== */
@media(max-width:600px){
  .single-blog-wrapper{
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .single-blog-container{
    padding: 15px;
  }

  .single-blog-title{
    font-size: 26px;
    margin-bottom: 15px;
  }

  .single-blog-text{
    font-size: 16px;
    line-height: 1.65;
  }
}
